section .hot {
  position: absolute;
  top: 57px;
  left: 760px;
  border-radius: 4px;
  width: 70px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background-color: rgba(83, 78, 78, 0.021);
}
section .middle-box {
  margin: 40px auto;
}
section .middle-box .help {
  width: 260px;
  border-radius: 10px;
  background-color: #f3f3f3;
  float: left;
}
section .middle-box .help h2 {
  margin: 0px 22px;
  padding-top: 32px;
  border-bottom: 1px solid #b6b6b6;
}
section .middle-box .help ul {
  margin: 0px 0px 10px 20px;
}
section .middle-box .help ul li {
  line-height: 20px;
  margin: 0px 30px;
}
section .middle-box .help ul .shangwu {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  margin-left: 15px;
}
section .middle-box .business {
  float: right;
  width: 700px;
  border-radius: 10px;
  background-color: #f3f3f3;
}
section .middle-box .business h2 {
  margin: 0px 30px;
  padding-top: 32px;
  border-bottom: 1px solid #b6b6b6;
}
section .middle-box .business .title {
  font-size: 14px;
  font-weight: bold;
  margin: 32px 0px 30px 30px;
}
section .middle-box .business p {
  line-height: 20px;
  margin: 0px 30px 33px 30px;
}
section .middle-box .business h3 {
  margin: 0px 0px 30px 20px;
}
section .middle-box .business ul {
  margin: 0px 0px 30px 50px;
}
section .middle-box .business ul li {
  line-height: 20px;
}
.up {
  height: 50px;
  width: 40px;
  background-color: #b6b6b6;
  position: fixed;
  top: 400px;
  right: 10px;
  display: none;
}
.up img {
  margin: 15px 3px;
}
