section {
    .middle-box {
        margin: 40px auto;
        .help {
            width: 260px;
            border-radius: 10px;
            background-color: #f3f3f3;
            float: left;
            h2 {
                margin: 0px 22px;
                padding-top: 32px;
                border-bottom: 1px solid #b6b6b6;
            }
            ul {
                margin: 0px 0px 10px 20px;
                li {
                    line-height: 20px;
                    margin: 0px 30px;
                }
                .shangwu {
                    margin-top: 10px;
                    font-size: 14px;
                    font-weight: bold;
                    margin-left: 15px;
                }
            }
        }
        .business {
            float: right;
            width: 700px;
            border-radius: 10px;
            background-color: #f3f3f3;
            h2 {
                margin: 0px 30px;
                padding-top: 32px;
                border-bottom: 1px solid #b6b6b6;
            }
            .title {
                font-size: 14px;
                font-weight: bold;
                margin: 32px 0px 30px 30px;
            }
            p {
                line-height: 20px;
                margin: 0px 30px 33px 30px;
            }
            h3 {
                margin: 0px 0px 30px 20px;
            }
            ul{
                margin: 0px 0px 30px 50px; 
                li {
                    line-height: 20px;
                }
            }
        }
    }
}
.location {
    position: fixed;
    right: 100px;
    top: 650px;
    width: 80px;
    height: 80px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    background-color: gray;
    opacity: .5;
    .fix {
        margin: 0 10px;
    }
}
